In [2]:
{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "provenance": []
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "code",
      "execution_count": 2,
      "metadata": {
        "id": "7-4LxGcCg9Pd"
      },
      "outputs": [],
      "source": [
        "import pandas as pd\n"
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "df = pd.read_csv('sample_data/california_housing_train.csv')"
      ],
      "metadata": {
        "id": "Bg30vieci8OT"
      },
      "execution_count": 3,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "df.head(10)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 363
        },
        "id": "rajV42O0i8xy",
        "outputId": "46e02c9f-1f96-43d6-fd49-a96940d869c3"
      },
      "execution_count": 4,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \\\n",
              "0    -114.31     34.19                15.0       5612.0          1283.0   \n",
              "1    -114.47     34.40                19.0       7650.0          1901.0   \n",
              "2    -114.56     33.69                17.0        720.0           174.0   \n",
              "3    -114.57     33.64                14.0       1501.0           337.0   \n",
              "4    -114.57     33.57                20.0       1454.0           326.0   \n",
              "5    -114.58     33.63                29.0       1387.0           236.0   \n",
              "6    -114.58     33.61                25.0       2907.0           680.0   \n",
              "7    -114.59     34.83                41.0        812.0           168.0   \n",
              "8    -114.59     33.61                34.0       4789.0          1175.0   \n",
              "9    -114.60     34.83                46.0       1497.0           309.0   \n",
              "\n",
              "   population  households  median_income  median_house_value  \n",
              "0      1015.0       472.0         1.4936             66900.0  \n",
              "1      1129.0       463.0         1.8200             80100.0  \n",
              "2       333.0       117.0         1.6509             85700.0  \n",
              "3       515.0       226.0         3.1917             73400.0  \n",
              "4       624.0       262.0         1.9250             65500.0  \n",
              "5       671.0       239.0         3.3438             74000.0  \n",
              "6      1841.0       633.0         2.6768             82400.0  \n",
              "7       375.0       158.0         1.7083             48500.0  \n",
              "8      3134.0      1056.0         2.1782             58400.0  \n",
              "9       787.0       271.0         2.1908             48100.0  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-46e1f256-04e0-4665-bb30-825c7119b24e\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>longitude</th>\n",
              "      <th>latitude</th>\n",
              "      <th>housing_median_age</th>\n",
              "      <th>total_rooms</th>\n",
              "      <th>total_bedrooms</th>\n",
              "      <th>population</th>\n",
              "      <th>households</th>\n",
              "      <th>median_income</th>\n",
              "      <th>median_house_value</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>-114.31</td>\n",
              "      <td>34.19</td>\n",
              "      <td>15.0</td>\n",
              "      <td>5612.0</td>\n",
              "      <td>1283.0</td>\n",
              "      <td>1015.0</td>\n",
              "      <td>472.0</td>\n",
              "      <td>1.4936</td>\n",
              "      <td>66900.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>-114.47</td>\n",
              "      <td>34.40</td>\n",
              "      <td>19.0</td>\n",
              "      <td>7650.0</td>\n",
              "      <td>1901.0</td>\n",
              "      <td>1129.0</td>\n",
              "      <td>463.0</td>\n",
              "      <td>1.8200</td>\n",
              "      <td>80100.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>-114.56</td>\n",
              "      <td>33.69</td>\n",
              "      <td>17.0</td>\n",
              "      <td>720.0</td>\n",
              "      <td>174.0</td>\n",
              "      <td>333.0</td>\n",
              "      <td>117.0</td>\n",
              "      <td>1.6509</td>\n",
              "      <td>85700.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>-114.57</td>\n",
              "      <td>33.64</td>\n",
              "      <td>14.0</td>\n",
              "      <td>1501.0</td>\n",
              "      <td>337.0</td>\n",
              "      <td>515.0</td>\n",
              "      <td>226.0</td>\n",
              "      <td>3.1917</td>\n",
              "      <td>73400.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>-114.57</td>\n",
              "      <td>33.57</td>\n",
              "      <td>20.0</td>\n",
              "      <td>1454.0</td>\n",
              "      <td>326.0</td>\n",
              "      <td>624.0</td>\n",
              "      <td>262.0</td>\n",
              "      <td>1.9250</td>\n",
              "      <td>65500.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>5</th>\n",
              "      <td>-114.58</td>\n",
              "      <td>33.63</td>\n",
              "      <td>29.0</td>\n",
              "      <td>1387.0</td>\n",
              "      <td>236.0</td>\n",
              "      <td>671.0</td>\n",
              "      <td>239.0</td>\n",
              "      <td>3.3438</td>\n",
              "      <td>74000.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>6</th>\n",
              "      <td>-114.58</td>\n",
              "      <td>33.61</td>\n",
              "      <td>25.0</td>\n",
              "      <td>2907.0</td>\n",
              "      <td>680.0</td>\n",
              "      <td>1841.0</td>\n",
              "      <td>633.0</td>\n",
              "      <td>2.6768</td>\n",
              "      <td>82400.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>7</th>\n",
              "      <td>-114.59</td>\n",
              "      <td>34.83</td>\n",
              "      <td>41.0</td>\n",
              "      <td>812.0</td>\n",
              "      <td>168.0</td>\n",
              "      <td>375.0</td>\n",
              "      <td>158.0</td>\n",
              "      <td>1.7083</td>\n",
              "      <td>48500.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>8</th>\n",
              "      <td>-114.59</td>\n",
              "      <td>33.61</td>\n",
              "      <td>34.0</td>\n",
              "      <td>4789.0</td>\n",
              "      <td>1175.0</td>\n",
              "      <td>3134.0</td>\n",
              "      <td>1056.0</td>\n",
              "      <td>2.1782</td>\n",
              "      <td>58400.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>9</th>\n",
              "      <td>-114.60</td>\n",
              "      <td>34.83</td>\n",
              "      <td>46.0</td>\n",
              "      <td>1497.0</td>\n",
              "      <td>309.0</td>\n",
              "      <td>787.0</td>\n",
              "      <td>271.0</td>\n",
              "      <td>2.1908</td>\n",
              "      <td>48100.0</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-46e1f256-04e0-4665-bb30-825c7119b24e')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-46e1f256-04e0-4665-bb30-825c7119b24e button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-46e1f256-04e0-4665-bb30-825c7119b24e');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 4
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "df.loc[ df['population'] < 500, ['median_house_value']]"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 424
        },
        "id": "BJoxbK5bi9X-",
        "outputId": "7054354f-5621-4ed8-b2a8-2073d926430d"
      },
      "execution_count": 15,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "       median_house_value\n",
              "2                 85700.0\n",
              "7                 48500.0\n",
              "17                25000.0\n",
              "19                27500.0\n",
              "21                59200.0\n",
              "...                   ...\n",
              "16944            130600.0\n",
              "16951             67500.0\n",
              "16969             60000.0\n",
              "16982            107000.0\n",
              "16994             76100.0\n",
              "\n",
              "[1601 rows x 1 columns]"
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-b8cd723b-7380-4a45-b35d-bf8e6e308c15\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>median_house_value</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>85700.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>7</th>\n",
              "      <td>48500.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>17</th>\n",
              "      <td>25000.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>19</th>\n",
              "      <td>27500.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>21</th>\n",
              "      <td>59200.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>...</th>\n",
              "      <td>...</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>16944</th>\n",
              "      <td>130600.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>16951</th>\n",
              "      <td>67500.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>16969</th>\n",
              "      <td>60000.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>16982</th>\n",
              "      <td>107000.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>16994</th>\n",
              "      <td>76100.0</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "<p>1601 rows × 1 columns</p>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-b8cd723b-7380-4a45-b35d-bf8e6e308c15')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-b8cd723b-7380-4a45-b35d-bf8e6e308c15 button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-b8cd723b-7380-4a45-b35d-bf8e6e308c15');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 15
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "df.loc[ df['population']<=df['population'].min()*1.1, ['households'] ].max()"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "qG04n8wWkuIQ",
        "outputId": "e3fbf14b-0b8c-430f-a7df-296bf6c64f9f"
      },
      "execution_count": 5,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "households    4.0\n",
              "dtype: float64"
            ]
          },
          "metadata": {},
          "execution_count": 5
        }
      ]
    }
  ]
}

{'nbformat': 4,
 'nbformat_minor': 0,
 'metadata': {'colab': {'provenance': []},
  'kernelspec': {'name': 'python3', 'display_name': 'Python 3'},
  'language_info': {'name': 'python'}},
 'cells': [{'cell_type': 'code',
   'execution_count': 2,
   'metadata': {'id': '7-4LxGcCg9Pd'},
   'outputs': [],
   'source': ['import pandas as pd\n']},
  {'cell_type': 'code',
   'source': ["df = pd.read_csv('sample_data/california_housing_train.csv')"],
   'metadata': {'id': 'Bg30vieci8OT'},
   'execution_count': 3,
   'outputs': []},
  {'cell_type': 'code',
   'source': ['df.head(10)'],
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/',
     'height': 363},
    'id': 'rajV42O0i8xy',
    'outputId': '46e02c9f-1f96-43d6-fd49-a96940d869c3'},
   'execution_count': 4,
   'outputs': [{'output_type': 'execute_result',
     'data': {'text/plain': ['   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \\\n',
       '0    -114.31     34.19                15.0       5612.0          1283.0   \n',
       '1    -114.47     34.40                19.0       7650.0          1901.0   \n',
       '2    -114.56     33.69                17.0        720.0           174.0   \n',
       '3    -114.57     33.64                14.0       1501.0           337.0   \n',
       '4    -114.57     33.57                20.0       1454.0           326.0   \n',
       '5    -114.58     33.63                29.0       1387.0           236.0   \n',
       '6    -114.58     33.61                25.0       2907.0           680.0   \n',
       '7    -114.59     34.83                41.0        812.0           168.0   \n',
       '8    -114.59     33.61                34.0       4789.0          1175.0   \n',
       '9    -114.60     34.83                46.0       1497.0           309.0   \n',
       '\n',
       '   population  households  median_income  median_house_value  \n',
       '0      1015.0       472.0         1.4936             66900.0  \n',
       '1      1129.0       463.0         1.8200             80100.0  \n',
       '2       333.0       117.0         1.6509             85700.0  \n',
       '3       515.0       226.0         3.1917             73400.0  \n',
       '4       624.0       262.0         1.9250             65500.0  \n',
       '5       671.0       239.0         3.3438             74000.0  \n',
       '6      1841.0       633.0         2.6768             82400.0  \n',
       '7       375.0       158.0         1.7083             48500.0  \n',
       '8      3134.0      1056.0         2.1782             58400.0  \n',
       '9       787.0       271.0         2.1908             48100.0  '],
      'text/html': ['\n',
       '  <div id="df-46e1f256-04e0-4665-bb30-825c7119b24e">\n',
       '    <div class="colab-df-container">\n',
       '      <div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>longitude</th>\n',
       '      <th>latitude</th>\n',
       '      <th>housing_median_age</th>\n',
       '      <th>total_rooms</th>\n',
       '      <th>total_bedrooms</th>\n',
       '      <th>population</th>\n',
       '      <th>households</th>\n',
       '      <th>median_income</th>\n',
       '      <th>median_house_value</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>-114.31</td>\n',
       '      <td>34.19</td>\n',
       '      <td>15.0</td>\n',
       '      <td>5612.0</td>\n',
       '      <td>1283.0</td>\n',
       '      <td>1015.0</td>\n',
       '      <td>472.0</td>\n',
       '      <td>1.4936</td>\n',
       '      <td>66900.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>-114.47</td>\n',
       '      <td>34.40</td>\n',
       '      <td>19.0</td>\n',
       '      <td>7650.0</td>\n',
       '      <td>1901.0</td>\n',
       '      <td>1129.0</td>\n',
       '      <td>463.0</td>\n',
       '      <td>1.8200</td>\n',
       '      <td>80100.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>-114.56</td>\n',
       '      <td>33.69</td>\n',
       '      <td>17.0</td>\n',
       '      <td>720.0</td>\n',
       '      <td>174.0</td>\n',
       '      <td>333.0</td>\n',
       '      <td>117.0</td>\n',
       '      <td>1.6509</td>\n',
       '      <td>85700.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>-114.57</td>\n',
       '      <td>33.64</td>\n',
       '      <td>14.0</td>\n',
       '      <td>1501.0</td>\n',
       '      <td>337.0</td>\n',
       '      <td>515.0</td>\n',
       '      <td>226.0</td>\n',
       '      <td>3.1917</td>\n',
       '      <td>73400.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>-114.57</td>\n',
       '      <td>33.57</td>\n',
       '      <td>20.0</td>\n',
       '      <td>1454.0</td>\n',
       '      <td>326.0</td>\n',
       '      <td>624.0</td>\n',
       '      <td>262.0</td>\n',
       '      <td>1.9250</td>\n',
       '      <td>65500.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>5</th>\n',
       '      <td>-114.58</td>\n',
       '      <td>33.63</td>\n',
       '      <td>29.0</td>\n',
       '      <td>1387.0</td>\n',
       '      <td>236.0</td>\n',
       '      <td>671.0</td>\n',
       '      <td>239.0</td>\n',
       '      <td>3.3438</td>\n',
       '      <td>74000.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>6</th>\n',
       '      <td>-114.58</td>\n',
       '      <td>33.61</td>\n',
       '      <td>25.0</td>\n',
       '      <td>2907.0</td>\n',
       '      <td>680.0</td>\n',
       '      <td>1841.0</td>\n',
       '      <td>633.0</td>\n',
       '      <td>2.6768</td>\n',
       '      <td>82400.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>7</th>\n',
       '      <td>-114.59</td>\n',
       '      <td>34.83</td>\n',
       '      <td>41.0</td>\n',
       '      <td>812.0</td>\n',
       '      <td>168.0</td>\n',
       '      <td>375.0</td>\n',
       '      <td>158.0</td>\n',
       '      <td>1.7083</td>\n',
       '      <td>48500.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>8</th>\n',
       '      <td>-114.59</td>\n',
       '      <td>33.61</td>\n',
       '      <td>34.0</td>\n',
       '      <td>4789.0</td>\n',
       '      <td>1175.0</td>\n',
       '      <td>3134.0</td>\n',
       '      <td>1056.0</td>\n',
       '      <td>2.1782</td>\n',
       '      <td>58400.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>9</th>\n',
       '      <td>-114.60</td>\n',
       '      <td>34.83</td>\n',
       '      <td>46.0</td>\n',
       '      <td>1497.0</td>\n',
       '      <td>309.0</td>\n',
       '      <td>787.0</td>\n',
       '      <td>271.0</td>\n',
       '      <td>2.1908</td>\n',
       '      <td>48100.0</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>\n',
       '      <button class="colab-df-convert" onclick="convertToInteractive(\'df-46e1f256-04e0-4665-bb30-825c7119b24e\')"\n',
       '              title="Convert this dataframe to an interactive table."\n',
       '              style="display:none;">\n',
       '        \n',
       '  <svg xmlns="http://www.w3.org/2000/svg" height="24px"viewBox="0 0 24 24"\n',
       '       width="24px">\n',
       '    <path d="M0 0h24v24H0V0z" fill="none"/>\n',
       '    <path d="M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z"/><path d="M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z"/>\n',
       '  </svg>\n',
       '      </button>\n',
       '      \n',
       '  <style>\n',
       '    .colab-df-container {\n',
       '      display:flex;\n',
       '      flex-wrap:wrap;\n',
       '      gap: 12px;\n',
       '    }\n',
       '\n',
       '    .colab-df-convert {\n',
       '      background-color: #E8F0FE;\n',
       '      border: none;\n',
       '      border-radius: 50%;\n',
       '      cursor: pointer;\n',
       '      display: none;\n',
       '      fill: #1967D2;\n',
       '      height: 32px;\n',
       '      padding: 0 0 0 0;\n',
       '      width: 32px;\n',
       '    }\n',
       '\n',
       '    .colab-df-convert:hover {\n',
       '      background-color: #E2EBFA;\n',
       '      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n',
       '      fill: #174EA6;\n',
       '    }\n',
       '\n',
       '    [theme=dark] .colab-df-convert {\n',
       '      background-color: #3B4455;\n',
       '      fill: #D2E3FC;\n',
       '    }\n',
       '\n',
       '    [theme=dark] .colab-df-convert:hover {\n',
       '      background-color: #434B5C;\n',
       '      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n',
       '      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n',
       '      fill: #FFFFFF;\n',
       '    }\n',
       '  </style>\n',
       '\n',
       '      <script>\n',
       '        const buttonEl =\n',
       "          document.querySelector('#df-46e1f256-04e0-4665-bb30-825c7119b24e button.colab-df-convert');\n",
       '        buttonEl.style.display =\n',
       "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
       '\n',
       '        async function convertToInteractive(key) {\n',
       "          const element = document.querySelector('#df-46e1f256-04e0-4665-bb30-825c7119b24e');\n",
       '          const dataTable =\n',
       "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
       '                                                     [key], {});\n',
       '          if (!dataTable) return;\n',
       '\n',
       "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
       '            \'<a target="_blank" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>\'\n',
       "            + ' to learn more about interactive tables.';\n",
       "          element.innerHTML = '';\n",
       "          dataTable['output_type'] = 'display_data';\n",
       '          await google.colab.output.renderOutput(dataTable, element);\n',
       "          const docLink = document.createElement('div');\n",
       '          docLink.innerHTML = docLinkHtml;\n',
       '          element.appendChild(docLink);\n',
       '        }\n',
       '      </script>\n',
       '    </div>\n',
       '  </div>\n',
       '  ']},
     'metadata': {},
     'execution_count': 4}]},
  {'cell_type': 'code',
   'source': ["df.loc[ df['population'] < 500, ['median_house_value']]"],
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/',
     'height': 424},
    'id': 'BJoxbK5bi9X-',
    'outputId': '7054354f-5621-4ed8-b2a8-2073d926430d'},
   'execution_count': 15,
   'outputs': [{'output_type': 'execute_result',
     'data': {'text/plain': ['       median_house_value\n',
       '2                 85700.0\n',
       '7                 48500.0\n',
       '17                25000.0\n',
       '19                27500.0\n',
       '21                59200.0\n',
       '...                   ...\n',
       '16944            130600.0\n',
       '16951             67500.0\n',
       '16969             60000.0\n',
       '16982            107000.0\n',
       '16994             76100.0\n',
       '\n',
       '[1601 rows x 1 columns]'],
      'text/html': ['\n',
       '  <div id="df-b8cd723b-7380-4a45-b35d-bf8e6e308c15">\n',
       '    <div class="colab-df-container">\n',
       '      <div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>median_house_value</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>85700.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>7</th>\n',
       '      <td>48500.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>17</th>\n',
       '      <td>25000.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>19</th>\n',
       '      <td>27500.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>21</th>\n',
       '      <td>59200.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>...</th>\n',
       '      <td>...</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>16944</th>\n',
       '      <td>130600.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>16951</th>\n',
       '      <td>67500.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>16969</th>\n',
       '      <td>60000.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>16982</th>\n',
       '      <td>107000.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>16994</th>\n',
       '      <td>76100.0</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '<p>1601 rows × 1 columns</p>\n',
       '</div>\n',
       '      <button class="colab-df-convert" onclick="convertToInteractive(\'df-b8cd723b-7380-4a45-b35d-bf8e6e308c15\')"\n',
       '              title="Convert this dataframe to an interactive table."\n',
       '              style="display:none;">\n',
       '        \n',
       '  <svg xmlns="http://www.w3.org/2000/svg" height="24px"viewBox="0 0 24 24"\n',
       '       width="24px">\n',
       '    <path d="M0 0h24v24H0V0z" fill="none"/>\n',
       '    <path d="M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z"/><path d="M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z"/>\n',
       '  </svg>\n',
       '      </button>\n',
       '      \n',
       '  <style>\n',
       '    .colab-df-container {\n',
       '      display:flex;\n',
       '      flex-wrap:wrap;\n',
       '      gap: 12px;\n',
       '    }\n',
       '\n',
       '    .colab-df-convert {\n',
       '      background-color: #E8F0FE;\n',
       '      border: none;\n',
       '      border-radius: 50%;\n',
       '      cursor: pointer;\n',
       '      display: none;\n',
       '      fill: #1967D2;\n',
       '      height: 32px;\n',
       '      padding: 0 0 0 0;\n',
       '      width: 32px;\n',
       '    }\n',
       '\n',
       '    .colab-df-convert:hover {\n',
       '      background-color: #E2EBFA;\n',
       '      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n',
       '      fill: #174EA6;\n',
       '    }\n',
       '\n',
       '    [theme=dark] .colab-df-convert {\n',
       '      background-color: #3B4455;\n',
       '      fill: #D2E3FC;\n',
       '    }\n',
       '\n',
       '    [theme=dark] .colab-df-convert:hover {\n',
       '      background-color: #434B5C;\n',
       '      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n',
       '      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n',
       '      fill: #FFFFFF;\n',
       '    }\n',
       '  </style>\n',
       '\n',
       '      <script>\n',
       '        const buttonEl =\n',
       "          document.querySelector('#df-b8cd723b-7380-4a45-b35d-bf8e6e308c15 button.colab-df-convert');\n",
       '        buttonEl.style.display =\n',
       "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
       '\n',
       '        async function convertToInteractive(key) {\n',
       "          const element = document.querySelector('#df-b8cd723b-7380-4a45-b35d-bf8e6e308c15');\n",
       '          const dataTable =\n',
       "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
       '                                                     [key], {});\n',
       '          if (!dataTable) return;\n',
       '\n',
       "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
       '            \'<a target="_blank" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>\'\n',
       "            + ' to learn more about interactive tables.';\n",
       "          element.innerHTML = '';\n",
       "          dataTable['output_type'] = 'display_data';\n",
       '          await google.colab.output.renderOutput(dataTable, element);\n',
       "          const docLink = document.createElement('div');\n",
       '          docLink.innerHTML = docLinkHtml;\n',
       '          element.appendChild(docLink);\n',
       '        }\n',
       '      </script>\n',
       '    </div>\n',
       '  </div>\n',
       '  ']},
     'metadata': {},
     'execution_count': 15}]},
  {'cell_type': 'code',
   'source': ["df.loc[ df['population']<=df['population'].min()*1.1, ['households'] ].max()"],
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'qG04n8wWkuIQ',
    'outputId': 'e3fbf14b-0b8c-430f-a7df-296bf6c64f9f'},
   'execution_count': 5,
   'outputs': [{'output_type': 'execute_result',
     'data': {'text/plain': ['households    4.0\n', 'dtype: float64']},
     'metadata': {},
     'execution_count': 5}]}]}